<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>expense tracker</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body id="app">
    <div class="expense">
        <form action="" class="expenseDetails">
            <div>
                <span><ion-icon name="wallet-outline"></ion-icon></span>
                <label for="amount">Amount</label>
                <input type="text" id="Amount" placeholder="Enter spend Amount" required />
            </div>

            <div>
                <span><ion-icon name="newspaper-outline"></ion-icon></span>
                <label for="description">Description</label>
                <input type="text" id="Description" placeholder="describe details " required />
            </div>

            <div>
                <span><ion-icon name="list"></ion-icon></span>
                <label for="Category">Category</label>
                <select name="Category" id="Category">
                    <option value="Select"></option>
                    <option value="Rent">RENT</option>
                    <option value="Transportation">Travel</option>
                    <option value="Bill">Bill</option>
                    <option value="EMI">EMI</option>
                    <option value="Movie">Movie</option>
                    <option value="Shopping">Shopping</option>
                    <option value="other">other</option>
                </select>
            </div>
            <button type="submit" id="submit">Add expense</button>
            <button type="button" id="Premium">Buy Premium</button>
            <button id="downloadexpense" onclick=" expenseTable()">
                Download File
                <span><ion-icon name="cloud-download-outline"></ion-icon></span>
            </button>
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script src="https://kit.fontawesome.com/2745e261bc.js"></script>
           
        </form>
    </div>
    <div id="message"></div>
    <!-- <button type="menu" id="board">Show LeaderBoard</button> -->

    <div>
        <h3>User expenseDetails</h3>
        <ul id="listOfExpense"></ul>
    </div>

    <div id="listingTable"></div>

    <div class="wrapper">
        <ul id='pagebtn'>
            <!-- <li class="btn"><i class="fas fa-angle-left"></i></li>
            <li class="numb active"><span>1</span></li>
            <li class="numb "><span>2</span></li>
            <li class="numb"><span>3</span></li>
            <li class="numb"><span>4</span></li>
            <li class="numb"><span>5</span></li>
            <li class="btn"><i class="fas fa-angle-right"></i></li> -->
        </ul>
    </div>

<div id="totalpages">
    <select name="pages" id="pages">
        <option value="2" >2</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
    </select>
</div>

    <div id="LeaderBoard">
        <ul id="expenseboard"></ul>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="expenditure.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>